<p>
  dynamic-form works!
</p>



<form [formGroup]="myDynamicFormGrp">

  <div formArrayName="dynamicsFrm">
    <input type="button" value="+Add" (click)="AddControl()" />

    <div *ngFor="let ctrl of GetDynamicFrm.controls; let i=index">
      <label for="ctrl-{{i}}">ctrl-{{i}}</label>
      <input type="text" [formControlName]="i">
    </div>


  </div>

</form>

<hr />
<form [formGroup]="dynamicRemarksGrp">
  <input type="button" value="+AddRmk Control" (click)="AddRmkCtrl()" />

  <div formArrayName="rmkDynamic" *ngFor="let rmkCtrl of dynamicRmkGetter.controls;let x=index">
    <div class="row" [formGroupName]="x">
      <div class="col-md-2">
        <p class="lead">Ticket {{x+1}}</p>
      </div>
      <div class="col-md-5">
        <label for="frm-{{x}}">From</label>
        <input  type="text" id="frm-{{x}}" formControlName="from" class="form-control mb-4"><br/>
      </div>
      <div class="col-md-5">
        <label for="to-{{x}}">To</label>
        <input  type="text" id="to-{{x}}" formControlName="to" class="form-control mb-4"><br/>
      </div>
      <div class="col-md-5">
        <label for="cnt-{{x}}">Comment</label>
        <input  type="text" id="cnt-{{x}}" formControlName="comments" class="form-control mb-4">
      </div>
    </div>
  </div>

</form>